/* background styles */
body {
    background-color: rgb(86, 98, 207);
    text-align: center;
}

#mainContent {
    background-color: rgb(185, 200, 255);
    width: 80%;
    text-align: center;
    display: inline-block;
}

/* button and checkbox collapse */
.buttonBox, .checkHolder {
    overflow:hidden;
    transition:max-height 0.2s ease-out;
    height:auto;
    max-height:600px;
}
  
.buttonBox.collapsed, .checkHolder.collapsed {
    max-height:0;
}

/* final content styles */
.mealBoxes {

}

/* classes for final item list */
.restDiv {
    font-size: 23px;
}

.mealDiv {
    font-size: 19px;
}

.mealDiv div {
    margin: 5px;
}

.itemName {
    font-size: 24px;
    font-weight: bold;

    padding: 2.5px;

    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    border-color: black;
}

.itemDescription {
    margin: 2px;
    font-size: 18px;
}

.itemPrice {
    font-size: 21px;
    font-weight: bolder;
}