body {
    background-color: rgb(86, 98, 207);
    text-align: center;
}

#mainContent {
    background-color: rgb(185, 192, 255);
    width: 80%;
    text-align: center;
    display: inline-block;
}

div {
    border: 1px solid black;
}

/* botton and checkbox collapse */
.buttonBox, .checkHolder {
    overflow:hidden;
    transition:max-height 0.3s ease-out;
    height:auto;
    max-height:600px;
  }
  
  .buttonBox.collapsed, .checkHolder.collapsed {
    max-height:0;
  }

.mealBoxes {

}


/* classes for final item list
.itemName {

}

.priceNode {

}

.itemDescription {

}
*/
